dev/Debug/
dev/ipch/

dev/MayaCache/Debug/
dev/MayaCache/Release/


dev/TestDLL/Debug/
dev/TestDLL/Release/

dev/Intermediate
dev/Output

dev/KDTree/*.*


*.vcxproj.filters
*.vcxproj.user
*.pdb
*.sdf
*.opensdf
*.suo
